In [3]:
import pandas as pd
import numpy as np

# Sample data to simulate input (e.g., sales data)
data = {
    "Date": ["2024-01-01", "2024-01-02", "2024-01-03", None],
    "Sales": [250, np.nan, 175, 300],
    "Region": ["North", "East", "North", "West"]
}
df = pd.DataFrame(data)

In [5]:
 #Display original data
print("Original Data:")
display(df)

Original Data:

         Date  Sales Region
0  2024-01-01  250.0  North
1  2024-01-02    NaN   East
2  2024-01-03  175.0  North
3        None  300.0   West

In [6]:
# Step 1: Remove rows with missing values
df.dropna(inplace=True)

In [7]:
# Step 2: Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

In [8]:

# Step 3: Normalize 'Sales' column (scale between 0 and 1)
df['Sales_normalized'] = (df['Sales'] - df['Sales'].min()) / (df['Sales'].max() - df['Sales'].min())

In [9]:
# Step 4: Aggregate Sales by Region
sales_by_region = df.groupby('Region')['Sales'].sum().reset_index()

In [10]:

# Display cleaned and transformed data
print("\nTransformed Data:")
display(df)
print("\nSales by Region:")
display(sales_by_region)

Transformed Data:

        Date  Sales Region  Sales_normalized
0 2024-01-01  250.0  North               1.0
2 2024-01-03  175.0  North               0.0

Sales by Region:

  Region  Sales
0  North  425.0